*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;        
}
#light{
    background-color: #e9c790;
    color: black;
    transition: 1s ease;
}
#light #Description{
    color: white; 
    transition: 1s ease;
}
#dark{ 
    background-color: #1d1721;
    color: white;
    transition: 1s ease;
}
#dark #Description{
    color: #e0705d; 
    transition: 1s ease;
}
::-webkit-scrollbar{
    display: none;
}
.ContainerApp{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.NavBar, .Outlet, .Footer{
    width: 100%;
}
.NavBar{
    height: 10%;
}
.Outlet{
    min-height: 100vh;
    margin: 100px auto;
}
.Footer{
    background: black;
}
@media(max-width: 700px){
 
}
