*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
.ContainerApp{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(73, 141, 148);
}
.NavBar, .Outlet, .Footer{
    
    width: 100%;
}
.NavBar{
    height: 10%;
}
.Outlet{
    min-height: 100vh;
}
.Footer{
    background: black;
}
@media(max-width: 700px){
 
}
